*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.main_bg{
    position: relative;
    background-image: url(img/main_bg.jpg);
    min-height: 1100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.main_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.main_bg::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Начинаем от низа */
    height: 300px; /* Высота градиента, можете изменять */
    background: linear-gradient(to top, rgba(11, 29, 38), rgba(0, 0, 0, 0)); /* Градиент от черного к прозрачному */
    z-index: 2; /* Делаем этот слой выше, чем ::before */
}

.main_bg > * {
    position: relative; /* Заставляет контент быть поверх затемняющего слоя */
    z-index: 2;
}
/* .main_bg{ */
    /* background: #000; */
    /* opacity: 0.6; */
    /* min-height: 2700px;

} */

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logo{
    color:#ffffff;
    font-weight: bold;
    font-size: 30px;
}

.menu{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.menu_link{
    color: #fff;
    font-family: Gilroy, serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.bi-person-circle{
    margin-right: 15px;
    padding-top: 2px;
}

.account{
    color:#fff;
    font-family: Gilroy, serif;
    font-size: 17px;
    font-weight: bold;
}

.promo{
    /* position: relative; */
    margin-top: 160px;
    display: flex;
    /* justify-content: space-between; */
}

.promo_socials{
    color: #fff;
    display: block;
    margin-top: 61px;
    margin-left: 55px;
}

.follow_container{
    height: 80px;
    padding: 0;
}

.follow{
    font-family: Gilroy, serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -25px;
    transform: rotate(90deg); 
    display: inline-block; 
    white-space: nowrap;
}

.inst, .twit{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-top: 20px;
    margin-left: 3px;
}

.promo_center{
    color: #fff;
    font-family: Gilroy, serif;
    margin: 0 auto;
    /* position: absolute; */
    /* text-decoration: none; */
}

.hiking, .get_started{
    position: relative;
    padding-left: 110px;
    font-size: 18px;
    color:#ffff9e;
    font-weight: 900;
    letter-spacing: 6px;
    font-family: Gilroy;
}

.get_started::before,
.hiking::before{
    content:'';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 2px;
    background-color: #ffff9e;
}

.promo_big_text{
    margin-top: 20px;
    font-size: 88px;
    font-family: Chronicle;
}

.scroll_down{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.bi-arrow-down{
    margin-left: 10px;
}

body{
    position: relative;
}

.promo_right{
    color: #fff;
    /* position: absolute; */
    z-index: 2;
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    top: 40%;
    right: 5%;
    position: fixed;
}

@font-face{
    font-family: Gilroy;
    src: url('./fonts/Gilroy-Light.otf')format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: Chronicle;
    src: url('./fonts/Chronicle\ Display\ Semibold.otf')format(truetype);
    font-style: normal;
    font-weight: normal;
}

.firstbg, .secondbg, .thirdbg{
    padding-top: 80px;
    background-color: #0B1D26;
    height: 800px;
}

.firstbg_left, .thirdbg_left{
    padding: 33px;
    padding-left: 100px;
    width: 632px;
    margin-top: 130px;
}

.big_text{
    margin-top: 20px;
    font-size: 64px;
    font-family: Chronicle;
    color:#fff;
}

.little_text{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    font-family: Gilroy;
    font-weight: bold;
    line-height: 37px;
}

.read_more{
    font-family: Gilroy;
    color:#ffff9e;
    margin-top: 30px;
    font-weight: bold;

}

.firstbg_inner, .thirdbg_inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.read_more i{
    margin-left: 20px;
    /* padding-top: 20px; */
}

.count{
    color: #fff;
    font-family: Gilroy;
    font-size: 240px;
    font-weight: 1000;
    position: absolute;
    opacity: 0.1;
    inset: -1;
    margin-top: 35px;
}

.secondbg_inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.secondbg_right{
    /* padding: 33px; */
    padding-left: 100px;
    width: 632px;
    margin-top: 130px;
}

.count2{
    color: #fff;
    font-family: Gilroy;
    font-size: 240px;
    font-weight: 1000;
    position: absolute;
    opacity: 0.1;
    inset: -1;
    margin-left: 610px;
}

footer{
    background-color: #0B1D26;
    display: flex;
    justify-content: space-between;
    color: #fff ;
}

.footer_right{
    display: flex;
    justify-content: space-between;
}