*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_opacity{
    background: #000;
}

.main_bg{
    /* min-width: 100%; */
    background-image: url(img/main_bg.jpg);
    min-height: 2000px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.6;

}

header{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

